<nav class="at-navbar">
  <ul class="at-nav">
    <li class="at-item">
      <a class="at-link" routerLink="/companies">
        <fa-icon class="at-icon fa-2xl" [icon]="faBuilding"></fa-icon>
      </a>
    </li>

    <li class="at-item">
      <a class="at-link" routerLink="/contacts">
        <fa-icon class="at-icon fa-2xl" [icon]="faPerson"></fa-icon>
      </a>
    </li>
    <li class="at-item">
      <a class="at-link" routerLink="/services">
        <fa-icon class="at-icon fa-2xl" [icon]="faHeadset"></fa-icon>
      </a>
    </li>
  </ul>
</nav>
