<div class="container-md">
  <div *ngIf="showDetails" class="overlay">
    <ng-container *ngIf="isCompany; else contact">
      <app-company-details
        (closeEvent)="showDetails = !showDetails"
        [detailId]="selectedDetail"
      ></app-company-details>
    </ng-container>
    <ng-template #contact>
      <app-contact-details
        (closeEvent)="showDetails = !showDetails"
        [detailId]="selectedDetail"
      ></app-contact-details>
    </ng-template>
  </div>
  <div class="d-flex align-items-center">
    <h1 class="my-3 display-2 companies-header">Companies</h1>
    <div class="dropdown entity-selector">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="addButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        (click)="show = !show"
      >
        &plus;
      </button>
      <ul [class.show]="show" class="dropdown-menu" aria-labelledby="addButton">
        <li>
          <a
            class="dropdown-item entity-item"
            (click)="addCompanyOrContact('Company')"
            >Company</a
          >
        </li>
        <li>
          <a
            class="dropdown-item entity-item"
            (click)="addCompanyOrContact('Contact')"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div style="margin-bottom: 5rem">
    <app-list
      (clickDetails)="switchDetails($event)"
      [headers]="[
        'Company ID',
        'Company',
        'Contact',
        'Number of Tickets',
        'Assigned'
      ]"
      [entityType]="'Companies'"
    ></app-list>
    <hr class="my-5" />
    <h1 class="my-3 display-2">Contacts</h1>
    <app-list
      (clickDetails)="switchDetails($event)"
      [headers]="[
        'Contact ID',
        'First Name',
        'Last Name',
        'Company',
        'Title',
        'Cell Number',
        'Office Number'
      ]"
      [entityType]="'Contacts'"
    ></app-list>
  </div>
</div>
<button type="button" (click)="getCompanies()">Click Me</button>
