<div class="container bg-light detail-page pt-3 rounded-3">
  <h1>Ticket</h1>
  <form>
    <!-- Summary -->
    <div class="form-group">
      <!-- TODO: get summary input to be horizontal -->
      <div class="row align-items-center"></div>
      <div class="col-auto"><label class="col-form-label">Summary</label></div>
      <div class="col-auto"><input type="text" class="form-control" /></div>
      <div class="col-auto">
        <small class="form-text">Must be 2-50 characters.</small>
      </div>
    </div>
  </form>
</div>
