<div *ngIf="showDetail" class="overlay">
  <app-ticket (closeTicketEvent)="showDetail = !showDetail"></app-ticket>
</div>
<div class="d-flex justify-content-center">
  <button (click)="showDetail = !showDetail" class="btn btn-primary">
    Open Ticket
  </button>
</div>
<label for="company-select">Please enter a company</label>
<select
  class="form-select"
  id="company-select"
  [(ngModel)]="searchValue"
  (change)="searchTickets()"
>
  <option selected>Please select a company</option>
  <ng-container *ngIf="getCompanies() | async as companies">
    <option *ngFor="let company of companies" [ngValue]="company.id">
      {{ company.companyName }}
    </option>
  </ng-container>
</select>
<app-list
  [entityType]="'Tickets'"
  [headers]="['Ticket ID', 'Company', 'Contact Name', 'Assigned', 'Time']"
  (clickDetails)="switchDetails($event)"
></app-list>
